<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.tw.sketch"
      android:versionCode="1"
      android:versionName="1.0">

    <!--
        Requires a minimum platform version of Android-3 (SDK 1.5) to run
    -->
    <uses-sdk android:minSdkVersion="11"
      android:targetSdkVersion="17"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!--
        Sets the application's user-readable label
     -->
    <application android:label="@string/app_name" android:theme="@android:style/Theme.Holo.Light">
        <!--
            Sets the activity's name and label
         -->
        <activity android:name="com.tw.sketch.MainActivity"
                  android:label="@string/app_name">
            <!--
                This activity responds to MAIN and LAUNCHER intents
             -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.tw.sketch.activity.SpinnerActivity"
                  android:label="@string/app_name"/>
        <activity android:name="com.tw.sketch.activity.EditTextActivity"
                  android:label="@string/app_name"/>
        <activity android:name=".activity.AudioRecorderActivity"
                android:label="@string/app_name"/>

    </application>

</manifest>
